.tools/
.design/
.dart_tool/
.flutter-plugins-dependencies
.packages
build/
coverage/
*.iml
.idea/
android/local.properties
android/ndk.local.properties
android/.gradle/
android/.kotlin/
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
.env
.env.*
!.env.example
config.local.json
